<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.Runtime" version="3.5.1" targetFramework="net472" />
  <package id="FluentNHibernate" version="2.1.2" targetFramework="net472" />
  <package id="Iesi.Collections" version="4.0.4" targetFramework="net472" />
  <package id="Inflector" version="1.0.0.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="NHibernate" version="5.3.0" targetFramework="net472" />
  <package id="NLog" version="4.7.2" targetFramework="net472" />
  <package id="Npgsql" version="4.1.4" targetFramework="net472" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net472" />
  <package id="Remotion.Linq.EagerFetching" version="2.2.0" targetFramework="net472" />
  <package id="Syncfusion.Core.WinForms" version="18.2.0.46" targetFramework="net472" />
  <package id="Syncfusion.Data.WinForms" version="18.2.0.46" targetFramework="net472" />
  <package id="Syncfusion.DataSource.WinForms" version="18.2.0.46" targetFramework="net472" />
  <package id="Syncfusion.GridCommon.WinForms" version="18.2.0.46" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="18.2.0.46" targetFramework="net472" />
  <package id="Syncfusion.SfDataGrid.WinForms" version="18.2.0.46" targetFramework="net472" />
  <package id="Syncfusion.SfInput.WinForms" version="18.2.0.46" targetFramework="net472" />
  <package id="Syncfusion.SfListView.WinForms" version="18.2.0.46" targetFramework="net472" />
  <package id="Syncfusion.Shared.Base" version="18.2.0.46" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.ILGeneration" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="4.7.1" targetFramework="net472" />
  <package id="System.Text.Json" version="4.7.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>