<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="DocumentFlow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="DocumentFlow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<connectionStrings>
		<add name="Production" connectionString="Server=109.68.215.41;Port=5432;Database=erp_autokom;" providerName="Npgsql" />
		<add name="Разработка" connectionString="Server=localhost;Port=5432;Database=erp_autokom;" providerName="Npgsql" />
	</connectionStrings>
	<nlog configSource="NLog.config" />
	<userSettings>
		<DocumentFlow.Properties.Settings>
   <setting name="PreviousUser" serializeAs="String">
    <value />
   </setting>
   <setting name="Location" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="Size" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="LastConnectedDatabase" serializeAs="String">
    <value />
   </setting>
   <setting name="PanelMenuWidth" serializeAs="String">
    <value>350</value>
   </setting>
   <setting name="ShowSortNumbers" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="FtpUser" serializeAs="String">
    <value />
   </setting>
   <setting name="FtpPassword" serializeAs="String">
    <value />
   </setting>
   <setting name="ReportResolution" serializeAs="String">
    <value>150</value>
   </setting>
   <setting name="UseDataNotification" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CardSize" serializeAs="String">
    <value>210, 240</value>
   </setting>
   <setting name="CardPadding" serializeAs="String">
    <value>10</value>
   </setting>
  </DocumentFlow.Properties.Settings>
	</userSettings>
 <applicationSettings>
  <DocumentFlow.Properties.Settings>
   <setting name="FtpHost" serializeAs="String">
    <value>109.68.215.41</value>
   </setting>
   <setting name="FtpPath" serializeAs="String">
    <value>/document-flow/data</value>
   </setting>
  </DocumentFlow.Properties.Settings>
 </applicationSettings>
</configuration>