<html>
<body>
<table cellpadding="0" cellspacing="0" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Segoe UI;">
	<tbody>
		<tr>
			<td style="vertical-align: middle;">
				<h3 color="#000000" style="margin: 0px; font-size: 16px; color: rgb(0, 0, 0);">
					<span>Тепляшина</span>
					<span>&nbsp;</span>
					<span>Оксана</span>
					<span>&nbsp;</span>
					<span>Александровна</span>
				</h3>
				<p color="#000000" font-size="medium" style="margin: 0px; color: rgb(0, 0, 0); font-size: 14px; line-height: 22px;">
					<span>Директор</span>
				</p>
				<p color="#000000" font-size="medium" style="margin: 0px; font-weight: 500; color: rgb(0, 0, 0); font-size: 14px; line-height: 22px;">
					<span>ООО "Автоком"</span>
				</p>
			</td>
			<td width="30">
				<div style="width: 30px;"></div>
			</td>
			<td width="1" color="#F2547D" direction="vertical" style="width: 1px; border-bottom: none; border-left: 1px solid rgb(242, 84, 125);"></td>
			<td width="30">
				<div style="width: 30px;"></div>
			</td>
			<td style="vertical-align: middle;">
				<table cellpadding="0" cellspacing="0" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Segoe UI;">
					<tbody>
						<tr height="25" style="vertical-align: middle;">
							<td width="30" style="vertical-align: middle;">
								<table cellpadding="0" cellspacing="0" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Segoe UI;">
									<tbody>
										<tr>
											<td style="vertical-align: bottom;">
												<span width="11" color="#F2547D" style="display: block; background-color: rgb(242, 84, 125);">
													<img width="13" src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfkAQwPGDHuLrpiAAABCElEQVQ4y43SMUvDQBjG8actLg6CbpoOFgsdpZvQL+Am+EXEzd1F2s8hdLeUjp26diodjFv24lQQ8e+gd5e7NHd5l5Dk/d1zubwCIGdExpgGJSCnK0kST03AJ33ZShPxLK9SRAwVFJM4OKuAXgy01QqBBooV18F9nyKecOO3a6ksnvDWfPW/j/7i3IJZ+se1daQHG7FVuoC9yaDDa3pLAFPLk0T/1/taUnBLz/19A3ZuBD1SmOdmxmRfbTitkKI6ySqFrzgukQmzcrsh8va7cik1Zzr2AWzCVQOQhQB27sQOgFEVAEzduHjtXT4OA9jzwkXQfkUOLajN/9ZCc631rh9d6k6POpF+AURJfeslf3m0AAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIwLTAxLTEyVDEyOjI0OjUwKzAzOjAwLfnkhgAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMC0wMS0xMlQxMjoyNDo0OSswMzowMAWWGXcAAAAASUVORK5CYII=' color="#F2547D" style="display: block; background-color: rgb(242, 84, 125);"	/></span>
												</span>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td style="padding: 0px; color: rgb(0, 0, 0);">
								<a href="tel:+7 (927) 986-00-96" color="#000000" style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;">
									<span>+7 (927) 986-00-96</span>
								</a>
							</td>
						</tr>
						<tr height="25" style="vertical-align: middle;">
							<td width="30" style="vertical-align: middle;">
								<table cellpadding="0" cellspacing="0" style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Segoe UI;">
									<tbody>
										<tr>
											<td style="vertical-align: bottom;">
												<span width="11" color="#F2547D" style="display: block; background-color: rgb(242, 84, 125);">
													<img width="13" src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfkAQwPGjs8zTH+AAAA/UlEQVQ4y92TMW7CUBAF51tUKBIFdFiiQByAXIDT+BZpkLhFkoaCA1D7Aq5dICS7SFoqpEBHJgVOIiMT4iZFttw/87fYt0FpVVE7/C+EDu8seOTtF+wdCQ+4aPO/Cxy1EkYYAbgxtXcV65m6ASoasFSzZsWemVrWm2OLZqXCC8eXD3GT8oXHTaNjX+tKhb804uDMo6qZAwAHZqoenTXh9+7VZws1d+rUXC18UvdOL/GJO3VpcGjuZ+UODS7VnZO6UKprOwD2XXnw4Mo+gB3XamngexVuTe1eXVzX1G1Fn6NR2T+FIpyjEZEAhJt3VxEJnpwb354Axs49hX9w0x+YXNUOiYpRZgAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMC0wMS0xMlQxMjoyNzowMCswMzowMI4uUeEAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjAtMDEtMTJUMTI6MjY6NTkrMDM6MDDNycnUAAAAAElFTkSuQmCC' color="#F2547D" style="display: block; background-color: rgb(242, 84, 125);"	/></span>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
							<td style="padding: 0px;">
								<a href="mailto:oksana@autokom.company" color="#000000" style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;">
									<span>oksana@autokom.company</span>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
</body>
</html>